/*.model-size{*/
      /*top: 50%;*/
      /*left: 50%;*/
      /*right: auto;*/
      /*bottom: auto;*/
      /*margin-right: -50%;*/
      /*transform: translate(-50%, -50%)*/
/*}*/

.Overlay {

}
.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}
